@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.pageBackground{
  background-color: aliceblue;
  min-height: 100vh;
  background-image: url(/vpan-heteroglossia/mainbg-01.svg);
}

.mont{ /*this was originally gonna be montserrat lol*/
  font-family: 'IBM Plex Serif', serif;
}

.ital{
  font-style: italic;
}

.wsans{
  font-family: 'Work Sans', sans-serif;
}

#introCard{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.cardTopBar{
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #aaa;
}

.flashcardTitle{
  padding-left: 5px;
  padding-right: 20px;
  margin-bottom: 0;
}

#razonOneCaro{
  width: 368px;
}

#especialContainer{
  width: 368px;
}

.hidden{
  display: none;
}

.voicemailCardLine{
  display: flex;
}

#azucarContainer{
  background-color: #444;
  min-height: 90vh;
  padding: 10px;
}

#playBtn{
  padding: 0;
  color: deepskyblue;
}

#azucarCard .card-body{
  padding: 0;
}

#azucarCard .card-body iframe{
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.cardBodyText{
  padding: 10px;
}

.mainVoiceItem{
  margin: 0;
  font-weight: 400;
}

#mainVoicemailCard{
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
}

.mainVoiceItemMute{
  font-size: 10px;
  font-weight: 300;
}

#voiceTranscriptionHeader{
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
}

.voiceLineName{
  padding-top: 2px;
  padding-left: 20px;
  font-size: 14pt;
  font-weight: 400;
  margin: 0;
  vertical-align: middle;
  height: inherit;
}

.voiceLineDate{
  font-size: 14pt;
  font-weight: 300;
  text-align: right;
  padding-right: 20px;
}

.razonCaroInner{
  width: 100%;
}

#voicemailName{
  font-size: 20px;
  color: black;
  padding-top: 2px;
}

.voicemailCard{
  border-top: solid #999 1px;
  border-bottom: solid #999 1px;
  color: #666;
  padding-top: 10px;
  padding-bottom: 10px;
}

#transcriptionText{
  font-size: 14px;
}

#bendigaContainer{
  background-color: #ddd;
}

#voicemailBoxTitle{
  padding-top: 20px;
  padding-left: 10px;
}

#razon3title{
  padding-top: 10px;
  font-size: 18px;
}

#razones3Container{
  padding: 10px;
}

#posterOverlay{
  background-color: rgba(128,128,128,0.5);
  color: white;
  height: 573px;
  width: 70%;
}

#azucarPoster{
  width: 70%;
}