.navSpace{
  background-color: #3e4f6b;
  justify-content: center;
  color: white;
  position: sticky;
  top: 0;
  margin-bottom: 10px;
}

.poemContainer{
  overflow-y: scroll;
  /* border-bottom: solid #999;
  border-left: solid #999;
  border-right: solid #999; */
  padding: 10px;
  justify-content: center;
  /*background-color: beige;*/
  overflow-y: auto;
  height: 80vh;
}

.poemToast{
  min-width: 100%;
  max-width: inherit;
}

.mainTitle{
  /*border-left: solid #999;
  border-right: solid #999;*/
}

.toast-container{
  justify-content: center;
}

.btnPanel{
  align-content: center;
  padding: 10px;
  position: sticky;
  bottom: 0;
  margin-top: 10px;
}

#continueButton{
  border-radius: 50%;
  background-color: #3b434a;
}

#continueButton:hover{
  background-color: #0b0c0d;
}

#continueButton:active{
  background-color: #555e66;
}

#mainToastContainer{
  width: 100%;
}

#mainPoemBody{
  height: 100vh;
  overflow: hidden;
  /*overflow: hidden;*/
}

.toast:not(.showing):not(.show){
  display: none;
}